{% extends "base.html" %}

{% block content %}
		<h1>{{ manufacturer.name }}</h1>

		<h2>Trucks</h2>

		{% if manufacturer.trucks.all %}
				<ul>
						{% for truck in manufacturer.trucks.all %}
								<li>
										<ul>
												<li>plate number: {{ truck.plate_number }}</li>
												<li>tonnage: {{ truck.tonnage }}</li>
												<li><a href="{% url 'cargo:truck-detail' pk=truck.id %}"
															 class="btn btn-sm btn-outline-primary">
														{{ truck.manufacturer.name }} {{ truck.model }}
												</a></li>
										</ul>
								</li>

						{% endfor %}
				</ul>
		{% else %}
				<p>No cars for this manufacturer.</p>
		{% endif %}
{% endblock %}