{% extends "base.html" %}
{% load static %}

{% block content %}
		<h1 class="mb-4">Truck manufacturers</h1>

		<ul id="manufacturer-list" class="list-group list-group-flush">
				{% for manufacturer in manufacturers %}
						<li><a href="{% url 'cargo:manufacturer-detail' pk=manufacturer.id %}"
									 class="">
								{{ manufacturer.name }}
						</a>
								<div>
										<img src="{% static 'brands/' %}{{ manufacturer.image }}?{{ manufacturer.id }}"
												 alt="{{ manufacturer.name }}"
												 class="img-fluid rounded"
												 style="max-height: 160px;">
								</div>
						</li>
				{% endfor %}

		</ul>
{% endblock %}